.App {
  margin-top: 100px;
}
.bootstrap-logo{
  width : 10vw;
  height : 10vh;
  margin-left: 65px;
  
  
}
.form-container{
  margin-top: 100px;
}
.form-group{
  margin-top: 20px;
  margin-left: 10px;
}
.submit-button{
  margin-top: 20px;
}
.email-input{
  margin-top: 10px;
}
.sign-in{
  text-align: center;
  margin-top: 10px;
  margin-right: 10px;
}
